.left-pane {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 80%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: darkseagreen;
  background-image: url('/img/logo.png');
  background-size: 60% auto;
  background-repeat: no-repeat;
  background-position: center 10px;
  transition: right 0.5s ease-in;
  &::-webkit-scrollbar {
    display: none;
  }
  &.folded {
    right: 65%;
  }
}
