.print-view{
  max-width: 70%;
  margin: 0px auto;
}
@media print{
  .btn-default{
    display: none!important;
  }
  .preview{
    margin-top: 0px;
  }
  .comic-box{
    border: 1px solid black;
  }
}
*{
  -webkit-print-color-adjust: exact!important;
}
